---
layout: default
---

<h1 class="jg-h1-secondary">
	Getting Started
</h1>

<hr/>

<div>
	<p>
		Here we have a <code>div</code>, with the id <code>basicExample</code>, that has a list of links that point to some images (original size images), and where inside of each link there is a thumbnail. Calling Justified Gallery, the disposition of all the thumbnails is changed to fill all the spaces (<i>justification</i>). The thubnails can be changed: bigger or smaller thumbnails can be loaded to always have an high quality also after resizes.
	</p><p>
		The plugin derives the path of the other thumbnails for the same image changing the filenames suffix. For example, if in a link there is the thumbnail <code>path/to/image1_t.jpg</code>, the plugin can load the thumbnails <code>path/to/image1_b.jpg</code>. The default suffixes are the same of <a href="http://www.flickr.com/services/api/misc.urls.html">Flickr</a> (and this permits a smooth integration with this service).
	</p><p>
		Remember that the default value for the row height is 120. For this example the thumbnails with a longest side of 240px (i.e. <code>_m</code> suffix) is a good choice to be fast (i.e. the plugin doesn't need to reload the majority of all thumbnails).
	</p>
	{% highlight html %}
<div id="basicExample">
  <a href="path/to/image1_b.jpg">
    <img alt="caption for image 1" src="ppath/to/image1_m.jpg" />
  </a>
  <a href="path/to/image2_b.jpg">
    <img alt="caption for image 2" src="path/to/image2_m.jpg" />
  </a>
  ...
</div>

$("#basicExample").justifiedGallery();
	{% endhighlight %}
</div>

<div id="basicExample" >
{% for en in site.images %}
	<a href="{{ en.url }}_b.jpg">
		<img alt="{{ en.desc }}" src="{{ en.url }}_m.jpg" />
	</a>
{% endfor %}
</div>
<script>
	$('#basicExample').justifiedGallery().on('jg.complete', function () {
		$(this).find('a').colorbox(colorboxConf);
	});
</script>

<h2 id="rowheight">Important Configurations</h2>
<p>
	An important configuration of the plugin is the <a href="{{ '/options-and-events' | prepend: site.baseurl }}"><code>rowHeight</code></a>. Consider that you have set an height of 160px; the algorithm tries to build rows with that height:
</p>

<figure class="text-center" style="margin: 10px 10px 20px 0;">
	<img src="{{ '/photos/important_configurations.png' | prepend: site.baseurl }}">
</figure>

<p>
	However, the justification may resize the images, and, as a consequence, the row height may be a little bit different than 160px. This means that the row height is intended as your preferred height, and it is not an exact measure. If you want that the row height remains strictly fixed, you can use the <a href="{{ '/options-and-events' | prepend: site.baseurl }}"><code>fixedHeight</code></a> option. However, this option will crop the images a little bit to make sure that the row height doesn’t change.
</p><p>
	This algorithm builds each row until it reaches the last. But, this last row may not have enough images to fill the entire width. In this case you can decide (with the <a href="{{ '/options-and-events' | prepend: site.baseurl }}"><code>lastRow</code></a> option) to leave a blank space, to justify the images, or to hide the last row if there is too much blank space. But, note that, if you decide to justify the last row, and you don’t have the fixed height option, the last images can be much larger than the others (you can use the <a href="{{ '/options-and-events' | prepend: site.baseurl }}"><code>maxRowHeight</code></a> option to control this behavior).
</p><p>
	The following is an example where we use smaller images (<a href="{{ '/options-and-events' | prepend: site.baseurl }}"><code>rowHeight : 70</code></a>). To be faster, in this case we use smaller thumbnails (i.e. the <code>_t</code> suffix, longest side of images is less than 100px). In this way the plugin probably will not load other thumbnails.
</p><p>
	Furthermore, note that in this example we don't justify the last row (<a href="{{ '/options-and-events' | prepend: site.baseurl }}"><code>lastRow : 'nojustify'</code></a>), and also that we are using a margin of 5px (<a href="{{ '/options-and-events' | prepend: site.baseurl }}"><code>margins : 5px</code></a>).
</p>
{% highlight html %}
<div id="basicExample2">
  <a href="path/to/image1_b.jpg">
    <img alt="caption for image 1" src="path/to/image1_t.jpg" />
  </a>
  <a href="path/to/image2_b.jpg" title="Just in a dream Place">
    <img alt="caption for image 2" src="path/to/image2_t.jpg" />
  </a>
  ...
</div>

$('#basicExample2').justifiedGallery({
  rowHeight : 70,
  lastRow : 'nojustify',
  margins : 3
});
{% endhighlight %}

<div id="basicExample2" >
{% for en in site.images %}
	<a href="{{ en.url }}_b.jpg">
		<img alt="{{ en.desc }}" src="{{ en.url }}_m.jpg" />
	</a>
{% endfor %}
</div>
<script>
	$('#basicExample2').justifiedGallery({
		rowHeight : 70, 
		lastRow : 'nojustify',
		margins : 3
	}).on('jg.complete', function () {
		$(this).find('a').colorbox(colorboxConf);
	});
</script>

<p style="margin-top: 15px;">
	<a href="{{ '/options-and-events' | prepend: site.baseurl }}">Explore all the options</a> available for Justified Gallery
</p>