<header class="site-header">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#jg-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}">
          Justified Gallery
        </a>
      </div>
      <div class="collapse navbar-collapse" id="jg-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ '/getting-started' | prepend: site.baseurl }}">Getting Started</a></li>
              <li><a href="{{ '/options-and-events' | prepend: site.baseurl }}">Options and Events</a></li>
              <li><a href="{{ '/endless-scroll' | prepend: site.baseurl }}">Infinite Scroll</a></li>
              <li><a href="{{ '/single-thumbnail' | prepend: site.baseurl }}">Single Thumbnail</a></li>
              <li><a href="{{ '/lightboxes' | prepend: site.baseurl }}">Lightboxes: Colorbox and Swipebox</a></li>
              <li><a href="{{ '/errors-handling' | prepend: site.baseurl }}">Errors Handling</a></li>
              <li><a href="{{ '/captions' | prepend: site.baseurl }}">Captions</a></li>
              <li><a href="{{ '/performance-tips' | prepend: site.baseurl }}">Performance Tips</a></li>
            </ul>
          </li>
          <li><a href="https://github.com/miromannino/Justified-Gallery">Github Repo</a></li>
          <li><a href="http://miromannino.com">Author's website</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
